.social {
  padding: 140px 0 151px;
}
.social__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 70px;
}
.social__list {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
